<div class="m-app-loading {{classhide}}">
    <!--
        HACKY CODE WARNING: I'm putting Style block inside directive so that it
        will be removed from the DOM when we remove the directive container.
    -->
    <style type="text/css">
        div.m-app-loading.hiddde {
            /*display: none;*/
            /*visibility: hidden;*/
            opacity: 0;
            transition-property: opacity;
            transition-duration: 2000ms;
            transition-timing-function: cubic-bezier(0.61, 1, 0.88, 1);
        }

        div.m-app-loading {
            position: fixed;
            z-index: 999999
        }

            div.m-app-loading div.animated-container {
                background-color: #333333;
                bottom: 0px;
                left: 0px;
                opacity: 1.0;
                position: fixed;
                right: 0px;
                top: 0px;
                z-index: 999999;
            }

            /* Used to initialize the ng-leave animation state. */
            /*div.m-app-loading div.animated-container.ng-leave {
                    opacity: 1.0;
                    transition: all linear 400ms;
                    -webkit-transition: all linear 400ms;
                }*/

            /* Used to set the end properties of the ng-leave animation state. */
            /*div.m-app-loading div.animated-container.ng-leave-active {
                    opacity: 0;
                }*/

            div.m-app-loading div.messaging {
                color: #FFFFFF;
                font-family: monospace;
                left: 0px;
                margin-top: -37px;
                position: absolute;
                right: 0px;
                text-align: center;
                top: 50%;
            }

            div.m-app-loading h1 {
                font-size: 26px;
                line-height: 35px;
                margin: 0px 0px 20px 0px;
            }

            div.m-app-loading p {
                font-size: 18px;
                line-height: 14px;
                margin: 0px 0px 0px 0px;
            }
    </style>
    <!-- BEGIN: Actual animated container. -->
    <div class="animated-container">
        <div class="messaging">
            <h1>🚀 Tareas App is loading</h1>
            <p>Vaya pensando las tareas que tiene por agregar...</p>
        </div>
    </div>
    <!-- END: Actual animated container. -->
</div>